:root {
    --graywhite: rgba(255, 255, 255, 1);
    --graygy-500: rgba(171, 177, 183, 1);
    --graygy-100: rgba(245, 247, 249, 1);
    --graygy-900: rgba(35, 36, 38, 1);
    --graygy-800: rgba(56, 58, 62, 1);
    --graygy-300: rgba(223, 227, 231, 1);
    --graygy-600: rgba(142, 148, 154, 1);
    --graygy-400: rgba(203, 207, 214, 1);
    --headline-17-b-font-family: "Pretendard", Helvetica;
    --headline-17-b-font-weight: 700;
    --headline-17-b-font-size: 17px;
    --headline-17-b-letter-spacing: 0px;
    --headline-17-b-line-height: 139.9999976158142%;
    --headline-17-b-font-style: normal;
    --title-26-b-font-family: "Pretendard", Helvetica;
    --title-26-b-font-weight: 700;
    --title-26-b-font-size: 26px;
    --title-26-b-letter-spacing: 0px;
    --title-26-b-line-height: 139.9999976158142%;
    --title-26-b-font-style: normal;
    --body-15-r-font-family: "Pretendard", Helvetica;
    --body-15-r-font-weight: 400;
    --body-15-r-font-size: 15px;
    --body-15-r-letter-spacing: 0px;
    --body-15-r-line-height: 139.9999976158142%;
    --body-15-r-font-style: normal;
    --headline-18-b-font-family: "Pretendard", Helvetica;
    --headline-18-b-font-weight: 700;
    --headline-18-b-font-size: 18px;
    --headline-18-b-letter-spacing: 0px;
    --headline-18-b-line-height: 139.9999976158142%;
    --headline-18-b-font-style: normal;
    --title-22-b-font-family: "Pretendard", Helvetica;
    --title-22-b-font-weight: 600;
    --title-22-b-font-size: 22px;
    --title-22-b-letter-spacing: 0px;
    --title-22-b-line-height: 139.9999976158142%;
    --title-22-b-font-style: normal;
    --body-15-SB-font-family: "Pretendard", Helvetica;
    --body-15-SB-font-weight: 600;
    --body-15-SB-font-size: 15px;
    --body-15-SB-letter-spacing: 0px;
    --body-15-SB-line-height: 139.9999976158142%;
    --body-15-SB-font-style: 2rem;
    --headline-17-m-font-family: "Pretendard", Helvetica;
    --headline-17-m-font-weight: 500;
    --headline-17-m-font-size: 17px;
    --headline-17-m-letter-spacing: 0px;
    --headline-17-m-line-height: 139.9999976158142%;
    --headline-17-m-font-style: normal;
  }
  